@font-face {
    font-family: font;
    src: url(image/Vazir.ttf);
}
header img{
    width: 5%;
    height: auto;
    margin-left: 1440px;
}
.main .dok{
    font-family: font;
    background-color: white;
    color: black;
    border: none;
    font-size: 17px;
    height: 65px;
    padding: 15px;
    flex-grow: auto;
    flex-shrink: auto;
    flex-basis: auto;
}
header .main{
    display: flex;
    flex-direction: row-reverse;
    gap: 60px;
    margin-right: 150px;
    margin-top: -30px;
    flex-wrap: wrap;
}
.sab .ver{
    background-color: white;
    color: black;
    font-family: font;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 8px;
    height: 40px;
    width: 7%;
}
.sab{
    margin-top: -55px;
    margin-left: 10px;
}
.dok:hover{
    background-color: rgba(207, 206, 206, 0.405);
    border-radius: 5px;
    border-bottom: 5px solid rgb(190, 18, 190);
}
.ver:hover{
    background-color: rgb(255, 65, 211);
    border: none;
}